html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #000;
}

h1, p, a {
    font-family: monospace;
}

.name {
    color: #dcdcdc;
}

.members, .const, .contact {
    color: #cbcbcb;
}